body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", "Roboto",
    sans-serif, monospace;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 12px;
  text-align: center;
  width: 100%;
}

h1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
}

table th,
table td {
  padding: 3px;
  border: 1px solid #2a2a2a;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}
svg {
  display: block;
}
button {
  cursor: pointer;
}
